[2019-09-18 02:01] yannduran opened #1 "Developer Community posts that prompted me to write Start Page+"
# Goals for Start Page+

I've tried to capture the pain points, features, requests, feedback etc that have come out of the [Developer Community](https://developercommunity.visualstudio.com/search.html?f=&type=question+OR+problem+OR+idea&type=question+OR+problem+OR+idea&c=&redirect=search%2Fsearch&sort=relevance&q=start+page) posts listed below.

_The checked ones have already been addressed by Sta

[2019-09-18 06:00] Kuffs2205 opened #2 "Unreadable text due to colour choices"
### Installed product versions
- Visual Studio: 2019ENT
- This extension: 0.12.1

### Description
Colour choices are not in keeping with the UI theme and in some cases make the text  unreadable. See image here: https://www.screencast.com/t/t78aVgZPwyN

### Steps to recreate
1. Use a light theme

### Current behavior
White text on a yellow background. Also, brown and yellow UI is unpleasant.

### E

[2019-09-18 07:39] sevanmarc commented on #2
I get the same thing, but I thought it was because I use a heavily customised theme based around a blue (light) environment and dark editor which breaks a lot of stuff (including the new syntax highlighted find window in VS2019 :-( )

If you are using standard VS theme colours, a list of which ones you use where would be useful so I can tweak my theme to make it all work.

[2019-09-18 08:14] Kuffs2205 opened #3 "Bug: Page does not open if separate Developer News extension is loaded."
Reporting only so it is documented for others. I don't think it needs fixing as it's unlikely that both extensions would be normally installed given that SPP has its own New section.

### Installed product versions
- Visual Studio: 2019ENT
- This extension: 0.12.1

### Description
The original "Developer News" extension by the same author causes the "View Start Page+" menu button to not work if in

[2019-09-18 08:32] yannduran commented on #2
HI guys! Thanks for taking the time to look at the _Start Page+_ preview, and to let me know about the color problem. Unfortunately I was aware of it, but forgot to have another look at it in my haste to get the preview (finally) out there.,

It's been a hard, if not impossible, task to try to pick brushes from the _Light_, _Dark_, and _Blue_ themes that work in **all three themes**. The brushes t

[2019-09-18 08:38] Kuffs2205 commented on #2
Sorry. It's not the light theme. Its the light coloured ones such as the one I exported from VS2017 so I could have my original colours back.  I also have a bunch of others too that look similar such as "Green" and "Tan" but I think they came from the Theme Editor extension.  I'll see if I can tweak my theme accordingly.

[2019-09-18 11:12] yannduran commented on #3
Thanks for taking the time to document this!

That's weird, as I have both extensions installed and it opens for me. The issue that I AM aware of is if you close _Start Page+_ it currently won't open again until you restart VS. I haven't been able to figure out why yet.

[2019-09-18 11:15] Kuffs2205 commented on #3
Possibly something conflicts that is unique or common to my setup.  I can only say that pressing the menu item to open the start page did nothing until I disabled the News extension.

Re-enabling the news extension again makes the start page not open.

Like I said, not really important but the fact it is documented may mean that someone doesn't spend ages trying to work out why the start page does

[2019-09-18 11:18] Kuffs2205 commented on #3
Actually, re-reading your final comment. SP+ only opens automatically for me if it is already open when Visual Studio closes.  If it wasn't already open, I have to use the menu item.  I figured this was because its only an early preview.

[2019-09-18 14:11] yannduran commented on #2
Yes, they have the colors listed one way in _Fonts and Colors_, and another way in the _theme editor_, and yet another way in `VsColors`. Even when I found a color I wanted to use, I often couldn't find it in `VsColors`.

[2019-09-18 14:20] Kuffs2205 commented on #2
Madness. I appreciate your issue.
You could possibly avoid it by using your own static colours that look good and allow a setting to switch between dark and light versions (or if you can detect dark/light then even better).  Even the original start page doesn't really have much support for themes.

[2019-09-18 14:38] yannduran commented on #3
Yes, I need to compile a list of _known issues_ so that people can read about the current _preview_ type behavior.

Btw, did you download this from the _Marketplace_, or from _Manage Extensions_? Again, just out of curiosity, if you saw the Marketplace page did you read the preface I put at the top of the extension?

I was planning on putting the compiled list of _known issues_ on _Start Page+_'s

[2019-09-18 14:44] Kuffs2205 commented on #3
I got it directly from the VS UI, i.e Manage extensions. Sorry, I didn't know there was a web site until just now when I read the Github readme and spotted the link within.

[2019-09-18 14:46] yannduran commented on #2
If you's like to add an issue for that as a _feature request_, I'd be happy to look at it after preview status has ended, for sure.

[2019-09-18 14:49] yannduran commented on #2
@sevenmark yes I am using _VS colors_, I'll try to get you a list as soon as i can, but if you look in the `brushes.xaml` file, you'll be able to see them for yourself if you don't mind digging into a code file (in case I take too long).

[2019-09-18 15:17] sevanmarc commented on #2
@yannduran thanks for the info, when I get some time I'll dig into the file and pull the colours out. I'm happy to dig into xaml so I'm sure I can find what I need. I appreciate the problem, there are hundreds of colours in the theme and finding ones that work in all situations is pretty hard.

[2019-09-18 23:40] yannduran commented on #2
@sevanmarc yes, the main problem is finding colors that work in all three main themes! :-)

[2019-09-24 10:30] MagicAndre1981 opened #4 "StartPage+ doesn't open at startup"
### Installed product versions
- Visual Studio: 2019 16.3
- This extension: 0.12.1

### Description

StartPage+ doesn't open at startup and crashes VS2019 when manually running it (but when I run devenv.exe inside Windbg, the page shows up).

### Steps to recreate
1. Install VS2019 16.3
2. Install StartPage+
3. restart

### Current behavior

only empty environment hows up, clicking on "View"->"Sta

[2019-09-24 10:41] MagicAndre1981 commented on #2
I also have this when using blue theme:

![image](https://user-images.githubusercontent.com/8274816/65505040-a683ed00-dec8-11e9-8fca-8402652c5029.png)

It is very hard to read.

[2019-09-24 11:34] MagicAndre1981 commented on #4
now it gets wired. After I was only able to use Start Page+ in Windbg, I can now run it fine without windbg  🤔  🤷‍♂️

[2019-09-25 05:58] yannduran commented on #4
Maybe your version was automatically updated to a later version. The current version is v0.12.1.4 - there is still an issue of the window not opening if you close it that I haven't had time to find out why yet.

Start Page+ should never have crashed VS though. I use it myself and that's never happened to me. Maybe there was something else affecting your VS Preview version. Who knows lol. I'm glad

[2019-09-25 06:28] MagicAndre1981 commented on #4
this was a complete fresh VS2019 16.3 final install without any 3rd party addons. I also disabled automatic VS update and extension update installation and installed StartPage+ from extension UI.

Eventlog shows NullreferenceException while loading Recent Items:

[code]

[2019-09-25 06:42] MagicAndre1981 commented on #1
how do I remove an item from recent list? Rightclick like in VS2017 doesn't show up an option to delete entry from recent list

[2019-09-25 07:29] boris-df commented on #2
Same Problem; I'm using VSColor, i have "Tan" selected.
Like you can see in Screenshot from MagicAndre1981 the Big titles (the not selected ones) are white on white)

with the Tipp from Kuffs2205 i changed "Tool Window>Tab>Unselected>Text" from white to nearly black to at least make the small text readable without making the VS UI unreadable ;)

I can imagine that this is a tricky part - but shoul

[2019-09-25 07:38] MagicAndre1981 commented on #4
this works fine for me in this fresh 16.3 install. I can close StartPage+ and reopen it when I want it. No issue for me.

[2019-09-25 07:39] Kuffs2205 commented on #2
@boris-df Don't forget to change "Tool Window>Tab>Unselected>Background" to a contrasting colour also otherwise your tabs in the IDE will not be readable.

[2019-09-25 07:46] boris-df commented on #2
With "Tan" it's OK if you set the Text to nearly black. It works on the Tan Background in the IDE too. If i had more time i would look at the code to see which constants he is using and try to fix/change it - but that's not my No1 priority right now - too much work because of VS 16.3 + new Mono Update + XCode 11 + no Application Loader + .... #meh

[2019-09-25 15:23] yannduran commented on #1
It's coming soon! As a workaround, you can remove them from the Start Window, and the results will show up in Start Page+ (you may need to use the Refresh button).

[2019-09-26 04:47] yannduran opened #5 "Bug: Recent Item Timeframes Disappear When Refresh is Clicked"
### Description
In the 'Recent Items' list, when 'Refresh' is clicked, the timeframes disappear.

### Steps to recreate
Click 'Refresh'button in the 'Recent Items' list.

### Current behavior
Timeframes disappear and they should always be there.

### Expected behavior
Timeframes should never disappear.

### Workaround
Click on a different tab, then click on the 'Start' tab.

[2019-09-26 05:00] MagicAndre1981 commented on #1
this is what I also discovered

[2019-09-26 05:29] yannduran opened #6 "Be able to start typing in the Recent Item Filter Box with out having to click in it first"
### Description
When the Start Page+ window is visible, the 'Recent Items' filter doesn't have keyboard focus, so you have to click in it first.

### Steps to recreate
N/A

### Current behavior
You can't start typing immediately unless you've already clicked in it.

### Expected behavior
You should be able to start typing to filter the items immediately without having to click in it first.

[2019-09-26 07:28] ajtruckle opened #7 "English - British"
Is it possible to have a English - British variant?

For example, I am used to read Favourites as opposed to Favorites.

Thank you.

[2019-09-26 07:47] yannduran commented on #7
I'm in Australia, so I'm used to seeing favourites too, but I'm not adverse to most American spelling.

I'll certainly add internationalisation to the backlog, but with all of the work I still have to do for the 'Favorites' tab (see there I go again, it's just natural these days), the 'Create' tab, and the 'News' tab, it's unlikely I'll be able to get to it any time soon. Sorry.

[2019-09-26 07:48] ajtruckle commented on #7
That is fine! 🙂

________________________________
From: Yann Duran <notifications@github.com>
Sent: 26 September 2019 08:47
To: luminous-software/start-page-plus <start-page-plus@noreply.github.com>
Cc: ajtruckle <truckleaj-software@hotmail.co.uk>; Author <author@noreply.github.com>
Subject: Re: [luminous-software/start-page-plus] English - British (#7)

I'm in Australia, so I'm used to seeing fav

[2019-09-26 07:59] yannduran commented on #4
Thanks for that followup André.

`StartPagePlus.UI.Services.RecentItemDataService.GetItems()` shows me where the problem you had is. It's possible that this method fails for some reason (and of course it shouldn't FAIL, I thought I had a try/catch around it - I'll look into that). It's possible that an exception could be thrown in a band new install when there aren't any _recent items_ yet, I hadn

[2019-09-26 08:22] yannduran commented on #2
@boris-df

You're absolutely right! I originally started off selecting VsColors keys in the dark theme (actually a customised version of Dark) that gave me the look that I wanted and was horrified to see how they turned out in the other two major themes.

I wanted to use colors that users of each theme would find _familiar_ but also a bit _more_, so I went searching for color combinations that wou

[2019-09-26 08:24] MagicAndre1981 commented on #4
it was wired because I got a messagebox but only strange error code and after clicking ok, VS crashed.

But now it works. Maybe OpenSubKey failed which is not wrapped around try/catch

[2019-09-26 08:32] kzendra opened #8 "Missing prerequisites for VS 2017"
![image](https://user-images.githubusercontent.com/14160159/65672103-c5a98880-e048-11e9-8e7b-0feb20bb4f5e.png)

I cant install start page + due to missing prerequisites and I can't find list of prerequisites anywhere

Microsoft Visual Studio Enterprise 2017
Version 15.9.16
VisualStudio.15.Release/15.9.16+28307.858
Microsoft .NET Framework
Version 4.7.03190

Installed Version: Enterprise

Visual C+

[2019-09-26 10:31] MagicAndre1981 commented on #8
this extension is for Visual Studio 2019 to bring a replacement for the missing Start Page and replace the ugly Start Windows of 2019.

[2019-09-26 10:38] kzendra commented on #8
Then VS2017 should be excluded from:
Works with
Visual Studio 2017, 2019

https://marketplace.visualstudio.com/items?itemName=YannDuran.StartPagePlus

[2019-09-26 17:44] rogerfar opened #10 "Colours are not taking from the theme"
I'm using a custom theme that mimics the VS2017 blue theme, but the startpage looks like this:
![image](https://user-images.githubusercontent.com/1142915/65711843-00182300-e053-11e9-9b9d-e43582d3ece6.png)
Is this because there is only dark theme support?

[2019-09-26 19:33] MagicAndre1981 commented on #4
ok, someone [already made a PR for the NullRefException issue](https://github.com/luminous-software/start-page-plus/pull/9)

[2019-09-27 07:27] sevanmarc commented on #4
That was me. Yes it only happened on a new VS preview install that had never been run before, with no recent items. I was actually trying to find some better colours, the exception fix was just something I had to get past first!

[2019-09-27 13:33] yannduran commented on #10
The colors are actually taken from the theme, but currently only the _Dark_ and _Light_ themes are producing acceptable colors. While Start Page+is in preview, I'm snowed under working on the next preview, and the rest of the features that I want to add.

I spent a LOT of time trying to find keys that worked well in all 3 major themes, but I could only manage to get 2 out of the 3 working well. If

[2019-09-27 13:40] yannduran commented on #8
@kzendra I'm sorry about that. André is right, Start Page+ was intended for VS 2019, there's no reason it shouldn't work in VS 2017 as well if I set the manifest prerequisites properly. I'll try to include support for VS 2017 in the next preview.And if I can't I'll do as you say and remove VS 2017 from the target versions.

[2019-09-27 13:44] yannduran commented on #4
Thank Marc for that! I'll try to get that into Preview 2.

[2019-09-27 13:47] yannduran commented on #10
I'm going to close this issue, in favor of [issue #2}(https://github.com/luminous-software/start-page-plus/issues/2),

Thanks!

[2019-09-27 13:47] #10 closed

[2019-09-30 07:21] yannduran opened #11 "The wrong icon is shown in View | Start Page+"
When you click on _View | Start Page+_, the Developer News icon is shown instead of the Start Page+ icon.

[2019-09-30 07:26] yannduran opened #12 "A null reference is thrown for a fresh install of VS"
If you install Start Page+ in a fresh install of Visual Studio, you get a null reference exception error message.

This is because there are no recent items yet, and the GetItems method doesn't check for that.

[2019-09-30 13:52] yannduran commented on #12
Preview 2 has now been released with a fix for this issue.

[2019-09-30 13:52] #12 closed

[2019-09-30 13:52] yannduran commented on #11
Preview 2 has now been released with a fix for this issue.

[2019-09-30 13:52] #11 closed

[2019-09-30 13:53] yannduran commented on #8
Preview 2 has now been released with a fix for this issue.

Please let me know if you continue to experience any problems. Feel free to re-open this issue.

[2019-09-30 14:01] yannduran commented on #10
Preview 2 has been released with a fix to this issue.

[2019-09-30 16:20] rogerfar commented on #2
The text colors are alot better, but it seems the background colors remained unchanged:
![image](https://user-images.githubusercontent.com/1142915/65897176-f3097580-e36b-11e9-869a-e7b47901dbfb.png)

[2019-10-01 05:04] yannduran opened #13 "Release Notes link gives 404"
Reported by: Greg Keogh (@gfkeogh)

![image](https://user-images.githubusercontent.com/2031126/65935567-d6993600-e45c-11e9-8daa-f7cc2925c8f0.png)

[2019-10-01 05:10] yannduran opened #14 "Window is not docked on first ever use (squashed into a small rectangle top-left)"
Reported by: Greg Keogh (@gfkeogh)

[2019-10-01 05:13] yannduran opened #15 "The menu tabs could have a smaller font"
Reported by: Greg Keogh (@gfkeogh)

![image](https://user-images.githubusercontent.com/2031126/65935857-eb29fe00-e45d-11e9-8e5a-f93a51c6373b.png)

[2019-10-01 05:15] yannduran opened #16 "Feature Suggestion: The "Hi" title strip could be optionally hidden"
Reported by: Greg Keogh (@gfkeogh)

![image](https://user-images.githubusercontent.com/2031126/65935960-3e03b580-e45e-11e9-872b-17b702aeb2c0.png)

[2019-10-01 05:17] yannduran opened #17 "The Favorites, Create and News pages have mixed fonts and grammar and need their appearance tweaked to blend in to Visual Studio"
Reported by: Greg Keogh (@gfkeogh)

![image](https://user-images.githubusercontent.com/2031126/65936050-87ec9b80-e45e-11e9-93cb-240ded306f65.png)

![image](https://user-images.githubusercontent.com/2031126/65936060-93d85d80-e45e-11e9-8cbf-88287446fda5.png)

![image](https://user-images.githubusercontent.com/2031126/65936072-9dfa5c00-e45e-11e9-8991-50708c25dd38.png)

[2019-10-01 05:20] yannduran commented on #17
This text is only there while _Start Page+_ is in preview. So it's only temporary.

I only added some text so there wouldn't be just blank pages, and people would have an idea of what's coming.

[2019-10-01 05:20] #17 closed

[2019-10-01 05:21] yannduran opened #18 "The Start Page+ window could optionally close when a solution is opened"
Reported by: Greg Keogh (@gfkeogh)

[2019-10-01 05:22] yannduran commented on #18
Yes, the VS 2017 start page used to do that.

This was always planned as an option, and will be added at some time.

[2019-10-01 05:24] yannduran opened #19 ""Continue without code" may be redundant"
Reported by: Greg Keogh (@gfkeogh)

![image](https://user-images.githubusercontent.com/2031126/65936259-6fc94c00-e45f-11e9-9392-36c702e1cd4f.png)

[2019-10-01 05:36] yannduran commented on #19
Start Page+ was intended to blend the **_intentions_** of the _VS 2019 Start Window_ with the **_much loved features_** of the now defunct _VS 2017 Start Page_.

I initially had this at the bottom of the column, but I replaced that with the _version number_ link, which takes you straight to the _changelog page_ on the _Start Page+_ website.

I hoped the link would be useful for when a new version

[2019-10-01 05:48] yannduran commented on #16
The intention here was to **_greet_** the user with their _first name_, so "_Hi Yann, what would you like to do today_". As cheesy as it sounds, it's nice to be made to feel a bit _special_, and it makes the page a little less _impersonal_.

I wasn't able to find an **_easy_** way to get the first name of the user signed into VS (signed into Windows, yes, but not VS), so I put that part on the bac

[2019-10-01 05:52] yannduran opened #20 "Feature Suggestion: Add a "Restart Visual Studio" item to the "Get Started" list"
Though not strictly something you'd want to do if you only ever have the start page open once, it could come in handy for those of us that leave the page open all the time.

Anyway, it's just a thought atm. I'm happy to hear people's feedback, whether you're _**for it**_ or **_against it_**.

There'd definitely be an option to hide it though. Hopefully that would satisfy everyone.

[2019-10-01 05:56] yannduran opened #21 "Feature Suggestion: There needs to be a way to "pin" and "unpin" items in the "Recent Items" list"
![image](https://user-images.githubusercontent.com/2031126/65937674-f7b15500-e463-11e9-9238-18899eb2146e.png)

[2019-10-01 06:09] boris-df commented on #2
Hm, i'm sorry to say this but I don't think it's better ... but worse? :)
See Screenshot from @rogerfar - The Main Text of an entry is now a dim grey. Looks like all projects are disabled now o.O

I wish i had more time to take a look a deep look into the code to understand which entries of the Template are used... i still think that the logic/selection is not correct
- Nowhere in my UI is the mai

[2019-10-01 12:08] yannduran commented on #2
@boris-df

Don't worry, I agree with you, that it's _**_still_**_ not an **ideal** situation! But at least it's readable now. It's only a stop-gap measure until **I** can find the time to find a better solution to this problem. I do want ALL feedback though, good or bad.

A pull request was made by a helpful user to at least get it readable for the _Blue_ theme. I actually don't like how it looks

[2019-10-01 12:11] yannduran commented on #2
@rogerfar

Don't worry, these are NOT the final colors. Blame Microsoft for the **_horrendous_** colors, and blame ME for not having found the right keys to use yet. Start Page+ is still in **early** preview, it will get better, I promise you!

[2019-10-02 08:10] yannduran commented on #13
Fixed in Preview 3

![image](https://user-images.githubusercontent.com/2031126/66028201-eccbf280-e53f-11e9-8191-2f5b4d8eb0cf.png)

[2019-10-02 08:10] #13 closed

[2019-10-02 08:45] yannduran commented on #2
@Kuffs2205
@sevanmarc
@MagicAndre1981
@boris-df
@rogerfar

Guys, I've just released a new preview (Preview 3) with just an updated color scheme (and a fixed link).

I had an epiphany last night, triggered by something one of you said, but I can't find the comment now. Anyway I worked out what I hope will be a set of more theme-friendly colors.

You can see samples of various themes [on the marketp

[2019-10-02 08:48] Kuffs2205 commented on #2
@yannduran way WAY better. The colour (color) no longer looks like the contents of a nappy (diaper)

[2019-10-02 08:48] MagicAndre1981 commented on #2
the blue looks fine on picture. I'll update the extension later in my 2019 test installation and see how it looks in real usage.

[2019-10-02 08:51] yannduran commented on #2
Wow guys you were quick!!! Thanks for the feedback!

[2019-10-02 11:09] sevanmarc commented on #2
Nice! 👍

[2019-10-02 11:16] yannduran opened #22 "Bug: Images in Recent Items and Start Actions have the wrong background"
In some themes, the background of the images in the Recent Items and Start Actions lists doesn't match the column color.

The weird part is it's only **some** themes, not all themes.

Blue Theme - doesn't match

![image](https://user-images.githubusercontent.com/2031126/66039786-265d2780-e559-11e9-83cf-27f1ee40ba2f.png)

Dark theme - matches

![image](https://user-images.githubusercontent.com/2031

[2019-10-02 11:24] MagicAndre1981 commented on #2
it is much better now with blue theme. Thanks for the improvement in preview 3

[2019-10-02 14:55] jcgperry opened #23 "A project with spaces in the name throws an error when opening it"
### Installed product versions
- Visual Studio: 2019 Community v16.3.1
- This extension: v0.14.3

### Description
Attempting to open a Recent Item (a .csproj file) with spaces in the path results in the error: "Command allows at most one argument"
However, opening the .sln file containing the same .csproj works as expected.

[2019-10-02 23:58] yannduran commented on #23
Ahh, yes I didn't think of that, as I never have spaces in my project names. I'll have to see if it's as simple as just surrounding the project name with quotes.

This should be fixed in the _next preview_.

[2019-10-03 00:06] yannduran commented on #23
I changed the name of this issue, I hope you don't mind.

[2019-10-03 00:27] yannduran opened #24 "Dates have a fixed AU/UK format in the Recent Items list"
Reported by: [Randy Bratton](https://developercommunity.visualstudio.com/comments/758464/view.html)

"_Do you have plans to look at the date format? My normal short date format is 10/02/2019 (MM/DD/YYYY), but Start Page+ is showing 02-10-2019 (DD-MM-YYYY). It doesn't really matter about the separators, just the month, day, year order._"

[2019-10-03 00:32] yannduran opened #25 "Developer News is not updating"
From a [Developer Community post](https://developercommunity.visualstudio.com/comments/745465/view.html):

**Sep 24 at 11:19 AM - Fawad Raza**

Hi `@Yann Duran`

Just installed and checked, Developer News is still not refreshed. For me that's all I wanted, rest are fine in new setup.

[2019-10-03 00:34] yannduran commented on #25
`@Fawad Raza`

What makes you think it's not refreshing? Do you day-by day you see nothing new? Microsoft often go for several days before they add something. And at least I give you access to all 10 items (they never have more than 10 for some reason), not the just 3 they provide on the installer (which nobody want to go to look for their news there!).

Or do you mean it's not refreshing when you

[2019-10-03 00:35] yannduran commented on #25
Hi `@Yann Duran`

Yes, Refresh button not working. News are stuck on September 19, 2019.

So I updated the extension as well as Visual Studio today. Perhaps the rss connection between add-in and news is broken in VS 2019 Pro 16.3.0 version.

Tried with _Developer News_ extension. Basically, as you can see below few updates in box, but then if you click the View More News below the box to go to blo

[2019-10-03 00:40] yannduran commented on #25
Your _Developer News_ add-in is showing the same items as found in Tools -> Get Tools and Features. But there are newer articles in `https://devblogs.microsoft.com/visualstudio`. So apparently Microsoft's own RSS feed is not synchronized?
Davis, Jon

The RSS feed for devblogs.microsoft.com/visualstudio is `https://devblogs.microsoft.com/visualstudio/feed` and it shows the newer items.

[2019-10-03 00:51] yannduran commented on #25
**My reponse:**

I know this can be confusing, especially when nobody's explained how it works. I had to work it out for myself. Basically there are two separate feeds:

  - Developer News
  - Visual Studio Blog

I don't know how many items used to be in the original Developer News feed in VS 2017, because I used to use a start page extension that provided a custom start page which didn't have a D

[2019-10-03 01:00] #25 closed

[2019-10-03 04:26] yannduran commented on #2
I'm **really** glad you guys like it!

If you haven't already done so, it'd be great if you could give the extension a rating, or a short review?

[2019-10-03 13:08] yannduran opened #26 "Bug: Only Folder, Solution, and C# Project currently have icons in RecentItems"
I just need to find time to add the rest of the widely-used project types.

[2019-10-03 13:36] yannduran commented on #7
I changed the title of this issue, I hope you don't mind.

[2019-10-03 13:55] yannduran commented on #18
I change the title of this issue, I hope you don't mind.

[2019-10-03 14:02] yannduran commented on #14
I changed the name of this issue, I hope you don't mind.

[2019-10-03 14:25] yannduran commented on #8
@kzendra are you able to install Start Page+ in VS 2017 successfully now?

If not, please re-open this issue, and I''l look  into it further.

Thanks!

[2019-10-03 15:14] kzendra commented on #8
Installed but not working.
Sorry, been a bit bussy

![image](https://user-images.githubusercontent.com/14160159/66139490-d639a000-e600-11e9-9648-dd6084e45474.png)

[ActivityLog.zip](https://github.com/luminous-software/start-page-plus/files/3686769/ActivityLog.zip)

[2019-10-03 15:38] MagicAndre1981 commented on #8
`CreateInstance failed for package [PackageClass]Source: 'mscorlib' Description: Could not load file or assembly 'Microsoft.VisualStudio.Shell.Framework, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified. System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.VisualStudio.Shell.Framework, V

[2019-10-03 15:51] MagicAndre1981 commented on #2
I'll vote when the final is out

[2019-10-04 01:16] yannduran commented on #8
D'oh, that sounds like a rookie mistake! Thanks for the heads-up André.

I realise now what I must have done. I verified that it installed in my VS 2017 (which I don't use anymore), but I apparently forgot to make sure that the window actually opened. **groan**

[2019-10-04 06:25] yannduran commented on #23
I've implemented a fix for this, which will be available when Preview 4 is released.

[2019-10-04 06:25] #23 closed

[2019-10-04 13:24] BOBJohnson opened #27 "Remember or Set Default Tab"
### Installed product versions
- Visual Studio: 2019 Community
- This extension: 0.14.3

### Description
Add either an option to set what tab should be the default when VS opens, or remember the last tab opened.

### Steps to recreate
1. Open Visual Studio and open the new Start Page+.
2. Select a tab other than the "Start" tab, IE, the "Favorites" tab.
3. Close and reopen Visual Studio.

### Curr

[2019-10-04 17:35] MagicAndre1981 commented on #4
as it works now fine, I'll close the issue.

[2019-10-05 19:51] MagicAndre1981 commented on #19
remove it, it is useless

[2019-10-06 00:32] yannduran commented on #27
HI Bob!

This is **definitely** something that I've always had in mind, as I knew that there'd be advanced users who wouldn't want to start every VS session on the _Start_ tab. I'm glad that you brought it up though, and that it's now captured in an issue of its own. Until there's more than one tab with functionality though, I have bigger fish to fry as it were.

I'm **absolutely** looking forward

[2019-10-07 17:24] JonDavis-AZED opened #28 "Fonts and/or panel lines don't seem natural"
### Installed product versions
- Visual Studio: VS 2019 16.3.2
- This extension: 0.14.3

### Description

Something seems off / obtuse about the fonts and grid lines, but can't put my finger on it. I think maybe the font used doesn't work well at large size. Try maybe Segoe UI Light for the top tabs? I dunno. Compare the fonts and panel lines from VS 2017's start page, that one looked more natural

[2019-10-08 13:46] yannduran commented on #28
Thanks for sharing your thoughts of the fonts and panel lines. While it was definitely my intention to bring back the functionality of the VS 2017 Start Page, it was never my intention to recreate it exactly in appearance.

It would be helpful to me if you pointed out to me which particular _text blocks_ had a font or size that you don't think looks good.

Same with the _panel lines_, are they the

[2019-10-08 16:55] JonDavis-AZED commented on #28
I didn't suggest that. Suggestion was just to refer to it again as influence for the top tabs

I did:

That's a great idea. :)

[2019-10-09 01:24] yannduran commented on #28
Sorry Jon, I missed the _'for the top tabs'_. I'm also sorry if my reply seemed antagonistic or defensive, I was just letting you know what was in my head, and I also wanted to find out which parts you didn't feel felt right to you.

I just did a global search for _FontFamily_, and it looks like I don't specifically set a font for the tabs at all, but I do use _Segoe **WP** SemiLight_ in the _Rece

[2019-10-09 17:18] Dean-NC commented on #21
Is this coming later or is it in now? I have 0.14.3 and when I hover a recent project, I see a square to the far right where the pin icon would be, but clicking it does nothing.

![Untitled](https://user-images.githubusercontent.com/12361341/66504476-25ffe780-ea97-11e9-8524-51284a1f1101.png)

It's like this for all IDE themes.

[2019-10-09 17:19] stimpy77 opened #29 "Feature suggestion: Hide StartPage+ on solution load, restore on solution close"
### Installed product versions
- Visual Studio: VS2019 16.3.3
- This extension: 0.14.3

### Description
I don't need the StartPage+ window at all if I've loaded up a project. So I close it. But then I end up seeing a blank screen if I close the solution or if I close Visual Studio and launch it again. So I have to start StartPage+ again. And then when I load up a solution I don't need it anymore s

[2019-10-09 17:19] stimpy77 opened #63 "Hide StartPage+ on solution load, restore on solution close"
### Installed product versions
- Visual Studio: VS2019 16.3.3
- This extension: 0.14.3

### Description
I don't need the StartPage+ window at all if I've loaded up a project. So I close it. But then I end up seeing a blank screen if I close the solution or if I close Visual Studio and launch it again. So I have to start StartPage+ again. And then when I load up a solution I don't need it anymore s

[2019-10-09 17:32] Dean-NC commented on #14
Yep, this happened to me, but was easy to dock.

[2019-10-09 17:39] Dean-NC opened #30 "Would like to have a bit more spacing between recent projects"
### Installed product versions
- Visual Studio: 2019 Community 16.3.2
- This extension: 0.14.3

### Description
I would like to have a bit more **vertical** spacing between recent projects on the "Start" tab.

### Current behavior
Recent projects on the "Start" tab are slightly too vertically close to each other.

### Expected behavior
Recent projects would have a bit more vertical spacing.

[2019-10-10 00:26] yannduran commented on #21
Hi Dean! I'm so glad you like _Start Page+_

Yes, what you're seeing in an incomplete feature. I released a preview early to get a decent _Blue_ theme out to those who could use it as it was. _Start Page+_ is still in early preview, so there's still a number of things to add, tweak, and polish.

I love what you've added to your main menu. I see you have the _Start Page+_ project open, did you modi

[2019-10-10 00:43] yannduran commented on #30
Yeah, I wavered over this. No matter what I do, I'm not going to please everyone unfortunately. I still have UI tweaking to do nearer to v1.0, so I haven't settled on exactly how I want it to look yet.

I do plan on adding a number of configuration settings, so it sounds like this would be a good one to add to them.

[2019-10-10 03:04] yannduran commented on #29
Hi Jon! These two features were always going to be implemented, I just have to prioritise what I do, and I figured that people having to _manually_ open and close the windows wouldn't be as bad as other features not getting done.

I love that you have ideas on features to suggest, but could I ask you do do something for me? Before adding a new issue, could you check the open issues first? I had al

[2019-10-10 03:12] yannduran commented on #14
@Dean-NC

Thanks for the confirmation Dean. I have a vague memory of it happening to me the first time too, but it was a long time ago now, and I hadn't seen it since, so I forgot about it until @gfkeogh mentioned it.

It's not _really_ a nice experience to have to dock it yourself that first time, especially with it starting off so small. To be honest I thought I had coded it to start off docked

[2019-10-10 03:58] yannduran commented on #18
I'm closing this issue in favor of luminous-software/start-page-plus#63.

[2019-10-10 03:58] #18 closed

[2019-10-10 13:34] MagicAndre1981 opened #31 "VS stopped responding for 28 seconds. Disabling the extension Start Page+ 0.14.3 might help"
### Installed product versions
- Visual Studio: 2019 16.3.3
- This extension: 0.14.3

### Description

I opened/closed several solutions and noticed that VS shows a message that StartPage+ causes a delay of 28s.

![image](https://user-images.githubusercontent.com/8274816/66573671-587f1280-eb73-11e9-88ca-639a61bf3496.png)

I have no real steps to repro it.

[2019-10-10 14:55] Dean-NC commented on #21
OK, that explains the pinning...no worry...I fully understand early preview, and I'm in no hurry to get it.

I didn't modify the StartPage+ project, and I didn't even have it open in that picture; I just customized the menu bar. I didn't even notice that having StartPage+ docked caused the VS main window title to have the words "Start Page" in it...good catch...don't know if you want that or not.

[2019-10-10 15:00] Dean-NC commented on #30
Thanks. I think it's low priority, but for me having a little more space makes project names stand out/pop, especially when there are a few projects together that start with the same words, like "MyCustomer.Project1.Part1", "MyCustomer.Project1.Part2", etc. Also, I'm guessing the list will scroll, so no worry about a little extra space causing any issue getting to other projects.

[2019-10-10 15:58] stimpy77 commented on #29
Yann, "Before adding a new issue, could you check the open issues first?" is highly offensive to me as it presumes that no effort was made to check open issues before creating the ticket, which I did, I did not see the individual detail in #1. Broad, sweeping "post it all" posts are not the appropriate place on GitHub for tracking issues. Also, I implemented the exact feature in my own extension w

[2019-10-10 22:22] yannduran commented on #31
Did you notice any lag from the window displaying? Is this happening more than once?

[2019-10-10 22:29] yannduran commented on #21
Thanks for explaining that for people.

Here's what I did straight after your first comment:

![image](https://user-images.githubusercontent.com/2031126/66611228-93cc2080-ec09-11e9-88ea-4f279be95a6f.png)

[2019-10-11 04:16] yannduran commented on #21
Hmm, interesting. I found that when you have no solution open, VS will display the name of the **_currently selected tab_** in the document well.

First off, in case you're wondering why my tabs look like they do, they're styled using [Tabs Studio](https://marketplace.visualstudio.com/items?itemName=SergeyVlasov.TabsStudio-documenttabsmanagerforVisualStudioIDE) (a paid extension), and I use _verti

[2019-10-11 04:18] yannduran commented on #30
Thanks for the feedback. And yes, the list scrolls.

[2019-10-11 05:04] yannduran commented on #29
Oh Jon, I'm so sorry, I **definitely** didn't mean any offense, or to talk down to you in any way. In fact I specifically tried very hard to ask as gently as I could. You never know what the other person's experience level is, so all I had to go on was what had occurred.

The ONLY reason I mentioned it at all was because the feature had already been captured in in existing issue, and yet a new iss

[2019-10-11 05:24] MagicAndre1981 commented on #31
I can't really remember what I did and if VS was unresponsive until I suddenly saw this message.

[2019-10-11 06:00] yannduran commented on #31
I've had spurious notifications about other extensions when VS got tangled up for some reason.

Please let me know if you continue to get this message.

[2019-10-11 09:23] MagicAndre1981 commented on #31
I got it now after opening a solution. Maybe [closing/reopen startpage after solution load/close](https://github.com/luminous-software/start-page-plus/issues/63) will "fix" it.

[2019-10-11 10:42] yannduran commented on #8
This has been fixed, and will be included in Preview 4.

[2019-10-11 10:42] #8 closed

[2019-10-11 10:44] yannduran commented on #24
This has been fixed, and will now use the system short date format. This will be available in Preview 4.

[2019-10-11 10:44] #24 closed

[2019-10-11 10:46] yannduran opened #32 "Feature Suggestion: Replace fixed MaxWidth (1175) with a setting"
The maximum width of the _MainView_ is currently set to a value of 1175, to ensure that wide screens, such as 34" screens don't end up with stretched columns that look silly.

I plan to add a user-defined setting so this value can be changed.

[2019-10-11 11:27] yannduran commented on #31
The only thing that should really take **any** conceivable amount of time (and it never has for me) is loading the _Developer News_ items. There's only ten of them to load. But that's done asynchronously, when the window is first constructed, unless _Refresh_ is clicked, so that **_shouldn't_** be the problem.

Or reading from the registry to pick up the _recent items_. But a refresh of that list

[2019-10-11 11:52] MagicAndre1981 commented on #31
ok, hopefully I can hide news in later previews as I don't like it and it wastes a lot of space.

[2019-10-11 12:25] yannduran commented on #14
This has been fixed (hopefully), and will be available in Preview 4.

[2019-10-11 13:07] yannduran commented on #31
I never used to read much of the news in VS 2017, But I became a convert when I was developing the _Developer News_ extension.

As for being able to hide it, I don't know about that one. Don't get me wrong, I'm all about users having choices, I just don't see what purpose it'd achieve to be able to hide it. You'd just end up with 2 extra-wide columns that were never meant to be so wide. I really s

[2019-10-11 13:30] MagicAndre1981 commented on #31
But I see it. Recent projects can have long paths, this requires most space, the column with the command entries can be made much smaller and the completely useless developer news column only wastes space.

[2019-10-11 14:01] Dean-NC commented on #21
OK, that makes sense, thanks for letting us know! It's part of that ever-learning we have for Visual Studio.

[2019-10-15 06:46] yannduran opened #34 "Allow changing of sort order of recent projects/solutions"
Reported by Stephen Mansfield May 16 in the [Developer Community Forum](https://developercommunity.visualstudio.com/content/idea/570866/get-started-page-sortable.html).

"_The links to recent projects & solutions on the Get Started page would be even more useful if the sort order could be changed._

_If I'm switching between new development & support of older products I can end up scrolling a long

[2019-10-15 07:32] yannduran commented on #31
You'll love the _Favorites_ tab, I promise you! It'll give you the ability to create columns to add groups of projects that make sense to you. I envision that once people get this set up the way they like, that they won't need the _Recent Items_ list much, if at all.

I even have always had in mind the ability to make the _Favorites_ tab (or any other tab) to be that tab that _Start Page+_ opens o

[2019-10-15 07:42] yannduran commented on #31
I've edited the title to give a more **accurate** representation of the issue, whether it's _open_ or _closed_, by using the _actual text_ from the message. I hope you don't mind.

[2019-10-15 07:54] yannduran commented on #3
Is this still an issue that you feel needs to remain open? Would you mind if we closed it if not? I'd like to keep the list of _open issues_ as short as possible. We can always re-open it if you can confirm that it's still a problem. I really haven't had time to look into this myself.

I have them both installed and working fine (_SP+ 0.14.3.1_ & _DN 1.1.0.2_ ). I compare the _Developer News_ of b

[2019-10-15 07:57] Kuffs2205 commented on #3
I no longer have that other extension installed so I don't mind at all.  I only created it as I thought it may be reported by others who couldn't find the solution as quickly.  Thanks.

[2019-10-15 07:57] #3 closed

[2019-10-15 08:06] yannduran commented on #1
André, could you open an issue called "Feature Suggestion: _Have a way to remove an item from the Recent Items_ list"?

I'd rather have your name as the owner of the issue than mine, with me then quoting you as the source.

Thanks!

[2019-10-15 09:35] MagicAndre1981 commented on #31
I restarted VS and Windows several times. I need the version with auto close to see if it improves situation.

[2019-10-15 09:37] MagicAndre1981 opened #35 "Feature Suggestion: Have a way to remove an item from the Recent Items list"
It would be nice to have a way to remove an item from the recent projects list

[2019-10-15 09:38] MagicAndre1981 commented on #1
done here:

https://github.com/luminous-software/start-page-plus/issues/35

[2019-11-01 21:56] NetMage commented on #31
I just installed Start Page + and the first time I opened a Recent Item that was a (very simple) solution, I got the same message for six seconds. I added another extension (restarting VS2019) and noticed when I click on the solution in Open a Recent Item there is a six second delay (with a Loading message in the bottom status bar) before the Solution Explorer populates, and I assume that delay is

[2019-11-25 09:16] MagicAndre1981 commented on #35
@yannduran do you still work on it? Does the extension work with 16.4 (preview)?

[2020-01-02 19:59] NetMage commented on #5
The Pinned Items also disappear when Refresh is clicked.

[2020-01-02 20:12] NetMage commented on #25
Perhaps it would be better if you could combine the Visual Studio Blog Feed with the Developer News feed?

[2020-01-16 21:08] BOBJohnson commented on #31
I get the message every time. If there is lag I haven't noticed it. I told VS to stop nagging me about it because if there is lag on my PC it isn't noticeable.

On an unrelated note, is there somewhere I can go to download Preview 4 or 5? I'm still on Preview 3, and when I go to the Marketplace page it's still just Preview 3.

I saw this post last year: https://developercommunity.visualstudio.com/

[2020-02-10 09:31] MagicAndre1981 commented on #35
looks like the project is dead or do you still work on it @yannduran ?

[2020-02-11 04:52] yannduran commented on #35
hi @MagicAndre1981.

no, the project isn't _dead_. i **do** intend to work on it.

i've just had a very hard time adjusting to life on my own, after losing my loved one. we shared each day together for so long, and suddenly it's just me. it's just hard.

i haven't written a single line of code since it happened, but i do hope to get back to coding again soon.,

[2020-02-11 06:15] MagicAndre1981 commented on #35
ok, I'm sad to hear this 😢🙏🕯️🤗

[2020-02-12 00:57] yannduran commented on #35
thanks André!

[2020-03-27 21:09] TonyGravagno opened #36 "Feature Suggestion: Context on DockPanel 'NewsItemContainer', TextBlock 'Title'"
I would like to see the URLs with mouseover on news items. I'd like to be able to copy the links with  without opening the page. I feel more comfortable knowing where a link is going, a little vulnerable just clicking links, for all of the reasons why we know just clicking links isn't healthy.

VS2019 with spp 0.14.3
Looking forward to other changes already noted for News tab. Thanks!

[2020-04-02 23:15] yannduran commented on #36
Thanks for your suggestion Tony! It's a great idea. I'm the same with clicking on links, but it didn't even occur to me when I wrote Developer News/Start Page+

[2020-04-17 08:28] JLRishe opened #37 "Recent Item accessed date not updating; frequently used solutions falling down the list"
### Installed product versions
- Visual Studio: 2019 Community
- This extension: 0.14.3

### Description
Opening a solution from the Recent Items list does not seem to update its Accessed Date or move it to the top of the list. Instead, the Accessed Date remains the same and the solution moves further and further down the list as new solutions are opened.

### Steps to recreate
1. Open any VS solu

[2020-04-17 11:21] yannduran commented on #37
Thank you for reporting this. The method that I'm currently using to populate the recent items list is pulling the items from a registry key and that registry key doesn't seem to get updated during a VS session, only when VS closes.

I've been meaning to look at updating where I pull the items from, but it kind of fell off my radar.

Can you confirm for me that when you close/reopen VS (or restart

[2020-04-17 11:56] JLRishe commented on #37
Thank you for your quick reply.

I tried this, but no luck:

1. Open VS
2. Open a solution from Start Page+
3. Close VS
4. Open VS

The solution I opened was still in the same place with the same LastAccessed date.

However, I noticed that the LastAccessed date was about 21 days later than the date I installed Start Page+, and I surely would have opened it in that time, so I went to my Source Cont

[2020-04-17 12:48] yannduran commented on #37
Ah yes, I remember that part now. That's something else that I need to find a better way to do; opening projects/solutions.

Before replying I opened a project that I hadn't opened for a while, and as you point out the list doesn't get updated, and even a refresh doesn't help. But when I closed VS & re-opened it, the project that I had opened was right at the top of the list where it should be.

1

[2020-04-17 15:08] JLRishe commented on #37
Hello again

1. Are the dates displaying correctly for you?

They are not displaying the date I actually last opened the solutions, but they are surely showing the date when Start Page+ _thinks_ I opened them (i.e. the last open date that was recorded), and the ordering and period names are consistent with the displayed dates.

They are shown in d-MM-yyyy format.

2. What timezone are you using?

[2020-04-18 01:33] yannduran commented on #37
Yes, pinning and un-pinning is functionality that hasn't been implemented yet. I have to find how to set the `IsFavorite` flag.

[2020-04-22 17:03] BOBJohnson commented on #21
So I have some Pinned items, and for the life of me, I couldn't figure out why I couldn't add a new one. Came here and found that it's not implemented yet. But wait, how do I have pinned items?

Well I found a workaround:
File -> Start Window
In the Start Window pin the project here. Close the start window.

Close and reopen the Start Page+. You now have a new pinned project (this should work for

[2020-04-23 00:39] yannduran commented on #21
Sorry for the confusion Bob!

Thanks for sharing the workaround with people. I should have done that myself lol

[2020-04-27 08:07] MagicAndre1981 commented on #5
yes, this is what I also see. They are no longer on top, but added to list based on their last usage time.

[2020-04-27 12:57] yannduran commented on #5
@NetMage , @MagicAndre1981 you guys are right! I hadn't even noticed that.

You'll be pleased to know that I'm back writing code again, and I recently found the cause of the bug, and am dogfooding the fix at the moment. So far no problems with it.

I'm currently working on _pinning_ and _unpinning_ items. Then will come _removing_ items. Once those two are completed, I'll release **v1.0** which wi

[2020-04-27 13:29] #1 closed

[2020-04-27 13:34] yannduran commented on #5
v1.0 will include this fix

[2020-04-27 13:34] #5 closed

[2020-04-27 14:39] MagicAndre1981 commented on #5
nice to hear that you're back 👍

[2020-04-30 02:27] yannduran commented on #19
You're right André! I finally realised it myself.

[2020-04-30 02:27] #19 closed

[2020-04-30 02:28] yannduran commented on #32
Added to v1.0

[2020-04-30 02:28] #32 closed

[2020-04-30 02:29] yannduran commented on #20
Added to v1.0

[2020-04-30 02:29] #20 closed

[2020-04-30 02:29] yannduran commented on #26
Fixed in v1.0

[2020-04-30 02:29] #26 closed

[2020-04-30 03:29] yannduran commented on #22
Blue Theme - now matches

![image](https://user-images.githubusercontent.com/2031126/80668707-e60d5a00-8ae5-11ea-92df-1901b0ee533d.png)

Dark Theme - still matches

![image](https://user-images.githubusercontent.com/2031126/80668907-66cc5600-8ae6-11ea-9d65-573bf8ec2347.png)

Light Theme - still matches

![image](https://user-images.githubusercontent.com/2031126/80668868-48665a80-8ae6-11ea-882b-920

[2020-04-30 03:29] #22 closed

[2020-04-30 04:04] yannduran commented on #31
Sorry Bob, I just saw your question about _Preview 4_. _Preview 3_ was actually the last public release. I then had some personal issues (lost a loved one) and it's only just now that I've started coding again.

The next release will be **v1.0**, with a release date of about May 8th. Checkout the [v1.0](https://github.com/luminous-software/start-page-plus/milestone/5) milestone link to see what's

[2020-04-30 04:04] #31 closed

[2020-05-08 06:11] MagicAndre1981 commented on #31
Likely because every clicked "don't report extension again". But I still see it:

![StartPlus_delay_VS2019](https://user-images.githubusercontent.com/8274816/81376227-5f6b0500-9103-11ea-8b59-e3959e682f88.png)

can't wait to test the new version

[2020-05-17 02:52] yannduran commented on #5
Sorry André, I thought I had replied. Thanks! It's good to be back.

I've been very busy working on the v1.0 release. You can see the progress in [Milestone v1.0](https://github.com/luminous-software/start-page-plus/milestone/5)

[2020-05-17 02:54] yannduran commented on #21
v1.0 will include this feature - see [Milestone v1.0](https://github.com/luminous-software/start-page-plus/issues?q=is%3Aissue+milestone%3Av1.0+)

[2020-05-17 02:54] #21 closed

[2020-05-18 10:09] yannduran commented on #35
v1.0 will include this feature - see [Milestone v1.0](https://github.com/luminous-software/start-page-plus/issues?q=is%3Aissue+milestone%3Av1.0+)

[2020-05-18 10:09] #35 closed

[2020-05-18 12:28] MagicAndre1981 commented on #35
@yannduran any ETA for version 1.0? I guess MS will release 16.6 update a Build tomorrow, will 1.0 work?

[2020-05-18 12:42] yannduran commented on #35
I've revised the due date to this coming Friday just to be safe, but it could also happen in the next couple of days. But definitely this week. I've got all but one of the GitHub issues sorted, except for one very trivial one. I'm now working on getting as much as I can of my own backlog into the v1.0 release.

I don't see any reason why it wouldn't work with 16.6, I'm just installing the 16.6 Pre

[2020-05-18 12:48] MagicAndre1981 commented on #35
MS is known to make changes only to break 3rd party tools that fix their wrong design changes.

[2020-05-19 07:10] yannduran commented on #35
Test on 16.5.4 & 16.6 Preview 6, all seems fine. I'm dogfooding each revision as I go.

[2020-05-19 08:17] MagicAndre1981 commented on #35
because you were not active, I stayed at 16.4 which is long servicing release and here your extension worked. So I can update to 16.6 when it gets released.

[2020-05-19 08:49] yannduran commented on #35
Yeah, I'm sorry about that. But I know you understand why that was.

[2020-05-19 09:53] MagicAndre1981 commented on #35
yes, I do 🤗

[2020-05-20 06:01] MagicAndre1981 commented on #35
extension works on 16.6 (stable channel)

[2020-05-20 07:12] yannduran commented on #35
Thanks for the confirmation.

[2020-05-25 11:16] yannduran commented on #35
@MagicAndre1981

I've tried hard to meet my stated deadline of this week, but I've had back problems which have limited my time at the keyboard unfortunately.

My sprints are based on calendar months, so my current sprint ends May 31. So I'm going to align my release date for _v1.0_ to that (ie release by June 1st). Hopefully that'll give me the time I need to finish up what I've been working on.

[2020-05-25 13:11] MagicAndre1981 commented on #35
@yannduran this fine, as current version works.

[2020-05-27 10:02] yannduran commented on #37
@JLRishe

Hi Jimmy. I think that the imminent release of _StartPage+_ **_v1.0_** should address this issue. I don't know how I hadn't noticed, I guess I wasn't paying that much attention to the dates. But as I was testing some new functionality I did see a problem.

I'm so sorry if this has been a huge pain for you.

Btw, pinning/unpinning & removing items is also in the **_v1.0_** release. See th

[2020-05-28 02:36] JLRishe commented on #37
That's great! Thank you!

[2020-05-28 07:30] #37 closed

[2020-05-28 07:39] yannduran commented on #31
I think I may have found something that _could_ cause this type of issue, although I've never seen it personally.

Although Visual Studio only shows us 10 MRU items, able to be increased to 25 if I remember correctly, quite a long list of recent items is actually stored by it. The longer the list becomes the more the delay will be in fetching/processing the items. This happens when the window is f

[2020-05-28 07:58] yannduran commented on #6
_v1.0_ will include this fix - see [Milestone v1.0](https://github.com/luminous-software/start-page-plus/milestone/5) for other features/fixes included in _v1.0_

[2020-05-28 07:58] #6 closed

[2020-05-28 08:58] MagicAndre1981 commented on #31
ok, I'll test this, I have a long list (some pinned, some not) because I don't switch branches in a working copy, I checkout own working copies for different branches so I have longer lists.

[2020-05-28 13:22] yannduran commented on #16
_v1.0_ will include this new setting - see [Milestone v1.0](https://github.com/luminous-software/start-page-plus/milestone/5) for other features/fixes included in _v1.0_

[2020-05-28 13:22] #16 closed

[2020-05-28 13:42] yannduran commented on #31
Setting *Recent Items to Display* to 1000 with the latest version that I'm dogfooding gives me projects/solutions all the way back to Feb 2017.

A total of 274 items!

I don't know exactly how many items VS will store, but the ability to limit the number retrieved/displayed to whatever **you** want should help performance.

[2020-06-02 11:00] Kuffs2205 opened #38 "Extension tells me projects do not exist."
### Installed product versions
- Visual Studio: 2019
- This extension:1.0

### Description
I keep getting a dialog when choosing a shortcut from the start page
---------------------------
Warning
---------------------------
Can't find '"B:\Dev\Windows Personal\TestProject\TestProject.sln"'
---------------------------
OK
---------------------------

Projects on my C drive seem to load ok. None from

[2020-06-02 11:02] Kuffs2205 opened #39 "All removed shortcuts reappear"
### Installed product versions
- Visual Studio: 2019
- This extension:1.0

### Description

I cleaned up the Start Page by removing all old unused projects.  They reappear after a couple more launches of VS

### Steps to recreate
1. Remove shortcut
2. Close VS and Reopen a couple of times

[2020-06-02 11:07] Kuffs2205 commented on #38
Extra Info:

Pressing the shortcut button gives the error. Right clicking and choosing "Open in VS" works.

[2020-06-03 02:05] yannduran commented on #39
Hmmm, I missed that. Thanks for letting me know. I already knew that it wasn't syncing with the *Start Window*, but I figured people using *Start Page+* wouldn't be using the *Start Window*, so I put it on my list to investigate.

I guess this is another symptom of the same problem, so I'll be looking into it. I didn't notice it in my own testing. Sorry about that.

[2020-06-03 02:16] yannduran commented on #38
Thanks for the heads up! I initially had some trouble with this, but I thought I had sorted it.

1. This is only for projects/solutions with a space in the name?
2. Do you have any projects/solutions on your `C:` drive that have a space? If so, do they open?
3. Is it only projects/solutions on your `B:` drive that have a space that won't open?
4. What happens if you type `"B:\Dev\Windows Personal\

[2020-06-03 05:10] MagicAndre1981 commented on #1
will this be added in 1.1? @yannduran

[2020-06-03 10:43] Kuffs2205 commented on #38
1. Yes It does seem to only be for projects with a space in the path. (I thought I checked this yesterday but obviously not well enough)
2. Only the ones without a space open.
3. No, All projects with a space regardless of location.
4. The project opens.
5. Its a standard SATA SSD drive.  I map to B to keep my data drive separate from my other drives.

I perhaps wasn't clear with my comment yester

[2020-06-03 10:46] Kuffs2205 commented on #39
I actually thought this had righted itself as I could not get the removed shortcuts to reappear again yesterday.  Unfortunately, they all returned again today. FWIW, I don't care it it syncs with the Start Window or not.  I'd rather go with the "File->Open" menu that use that horror.

[2020-06-03 11:31] yannduran commented on #1
I'll have a look at it for you.

[2020-06-03 11:43] yannduran commented on #38
I've confirmed that this is the problem that I thought I had solved. I don't know how that got through, because I was using a test solution/project/folder to test all possibilities of names with spaces.

I know where to look, and I should have a fix soon.

[2020-06-03 11:51] yannduran commented on #39
Updating how I get/update recent items was already on my list. When I get that done, this problem should disappear.

[2020-06-03 11:55] MagicAndre1981 commented on #1
thanks. Please also make the buttons in "Get Started" smaller?

![startpage_plus_get_started](https://user-images.githubusercontent.com/8274816/83633627-8b15c980-a5a1-11ea-8867-46c25f936706.png)

This size only makes sense when using touch device like Surface Pro. With removal of developers news the size "Open recent items" can be made larger.

[2020-06-03 11:56] yannduran commented on #30
@Dean-NC

Now that **v1.0** has been released, do you still feel the same way?

[2020-06-03 11:58] yannduran commented on #29
@stimpy77

I didn't manage to get this into **v1.0**, but it'll definitely be in **v1.1**.

[2020-06-03 11:59] MagicAndre1981 commented on #37
@yannduran

works partially in 1.0 , when I close a solution what was not pinned or opened before, I had to click "refresh".

[2020-06-03 12:00] MagicAndre1981 commented on #35
@yannduran ok works fine in 1.0. I can pin, unpin and remove solutions from list 👍

[2020-06-03 12:01] MagicAndre1981 commented on #31
@yannduran with 1.0 I haven't see the warning, perf is better compared to old preview 👍

[2020-06-03 12:03] yannduran commented on #28
Now that **v1.0** has been released, how do you feel about how it looks now Jon?

I've actually went with your suggestion and have used _Segoe UI_/_Segoe UI Light_ throughout the UI.

[2020-06-03 12:05] yannduran commented on #31
@MagicAndre1981

That great to hear! Did you change the setting for the number of items to display, or did you just leave the default?

[2020-06-03 12:06] MagicAndre1981 commented on #31
@yannduran I changed nothing.

[2020-06-03 12:06] yannduran commented on #31
@BOBJohnson

How about you Bob, what's your experience with **v1.0**?

[2020-06-03 12:07] MagicAndre1981 commented on #37
this should go away once autoclose/reopen is implemented as the data get loaded again when page is shown, correct?

[2020-06-03 12:25] yannduran commented on #1
Feel free to open an issue for this, but I have to be honest, I don't really like the idea. I don't think it'd look very good.

[2020-06-03 12:26] yannduran commented on #35
Great to hear!

[2020-06-03 12:32] yannduran commented on #37
No, tool windows don't work like that. When a tool window is "closed", Visual Studio just hides it. When you request the window again, it's the same window instance as before.

Without something like an auto-refresh timer, the only way for the data to be refreshed is to click *Refresh*.

[2020-06-03 12:36] MagicAndre1981 commented on #1
currently it looks horrible and wastes space

[2020-06-03 12:37] MagicAndre1981 commented on #37
ok, this case internally refresh it after closing a solution (autoclose/reopen)

[2020-06-03 12:52] yannduran commented on #1
Gee thanks :-(

[2020-06-03 12:55] yannduran commented on #37
You need to add new issues for things like this André (or add it to an existing one if it's relevant). Otherwise the discussion can get lost in an issue that has nothing to do with the suggestion.

[2020-06-04 07:50] MagicAndre1981 opened #40 "Add option to disable developer news"
The issues was tracked it [first issue](https://github.com/luminous-software/start-page-plus/issues/1#issue-494943677), but this is closed now.

So, please add an option to hide developer news, if people care about developer news, [install your other extension ](https://github.com/luminous-software/developer-news)that brings new dockable tool window, which is better compared to showing it all time

[2020-06-04 08:21] MagicAndre1981 opened #41 "After closing a solution refresh the Recent items"
After a solution is closed, the recent item list is not updated and the _Refresh_ should be called.

[2020-06-04 18:38] Dean-NC commented on #14
I stopped using it with Preview 3, and didn't try #4, but I've installed it again (1.0), and after 1st start, it's still small and un-docked. Actually here's my exact steps:
1. Inside VS, installed extension.
2. Restarted VS. I had forgotten to turn off built-in Start Window, so turned that off.
3. Restarted VS, and the Start Page+ was small and un-docked...see picture.

**It's possible, that sinc

[2020-06-05 06:09] yannduran commented on #14
Thanks for letting me know Dean! It's a hard one for me to figure out what's **causing** it. I'll re-open this issue, so it doesn't fall through the cracks.

I'm really sorry to hear that you stopped using *Start Page+* Preview 3 (btw Preview 4 was never released). I'd love to know what made you stop using it, if you don't mind telling me.

The reason that Preview 4 never got released was due to a

[2020-06-08 10:16] yannduran opened #42 "Clicking `Clone or checkout code` show an error"
In an effort to perhaps simplify the *Start Window*, Microsoft has recently changed this action in v16.6 and removed/changed the associated command (used to be *File.Cloneorcheckoutcode* which doesn't work anymore - it's now *File.CloneRepository*).

**Previously:**

![start-window-light](https://user-images.githubusercontent.com/2031126/84019401-93686d00-a9c4-11ea-9b37-06d3e86c8e78.png)

**Curren

[2020-06-09 01:14] yannduran commented on #42
This issue has been fixed and will be in *v1.0.1*.

[2020-06-09 01:14] #42 closed

[2020-06-09 01:15] yannduran commented on #38
This issue has been fixed and will be in *v1.0.1*.

[2020-06-09 01:15] #38 closed

[2020-06-13 14:58] BOBJohnson opened #43 "Space in Solution Path - Can't Open Solution from Recent Items"
### Installed product versions
- Visual Studio: 2019 Community
- This extension: 1.0

### Description
Cannot open a solution from the Recent Items if there is a space in the path to the item.

### Steps to recreate
1. Create a solution that has a space in the path.
2. Refresh the recent items to make sure the item shows up in recent items.
3. Try to open the recent item with the space in it.

###

[2020-06-14 00:12] yannduran commented on #43
I'm sorry about this Bob, a refactor caused a regression bug, and it somehow got passed me, even though I was sure I had tested for that problem specifically.

Issue #38 is also about the same thing and was closed as _fixed_, so that's probably why you didn't see it. The original issue was #23.

It's been fixed, and I'll have the update out soon (_v1.0.1_).

[2020-06-14 17:10] BOBJohnson commented on #43
Thanks!

[2020-06-16 13:05] #43 closed

[2020-06-17 01:06] BOBJohnson commented on #43
Just downloaded the new version. Fixed. Thanks!

[2020-06-17 01:57] yannduran commented on #43
That great Bob! Thanks for the confirmation :-)

[2020-06-20 00:12] Dean-NC commented on #4
I'm guessing when you implement the auto-close when opening a solution feature, you will make it re-open when re-starting VS?  Right now, if we close it, then it won't automatically show when re-starting VS.

[2020-06-20 01:24] yannduran commented on #4
At the moment that has more to do with the way Microsoft persists (or in this case doesn't persist) certain types of tool windows docked in the document well than it has to do with _Start Page+_ itself.

The _Start Page+_ window is **just a tool window** like any other tool window, but tool windows that are docked in the document well don't get properly persisted and Microsoft claim that this is *

[2020-06-20 01:56] Dean-NC commented on #4
@yannduran Ahh, I see. Thanks for the response.  There's no doubt MS has no interest in auto-showing a "tool window", but maybe there's a way to get it done.

[2020-06-22 13:23] MagicAndre1981 commented on #37
@yannduran 1.01 loses the pin state and doesn't show correct last usage time.

[2020-06-22 13:49] yannduran commented on #37
First off, André could you please open a **new** issue for this. This issue was closed on May 28. And could you please describe the steps that lead to this result in that new issue?

It's almost midnight here now, so I'll look into it further tomorrow, but a quick test shows that the pin status didn't get lost after closing and re-opening VS.

I'm  not sure what you mean by:

Are you saying that i

[2020-06-22 13:59] MagicAndre1981 opened #45 "Recent Item accessed date not the expected date"
I noticed that I had 1 project opened on friday, which was 2020-06-19, but recent item showed 2020-06-16

_Originally posted by @yannduran in https://github.com/luminous-software/start-page-plus/issues/37#issuecomment-647531900_

[2020-06-26 06:45] MagicAndre1981 commented on #45
today I checked the list and I see the recent items from yesterday. So sometimes it fails to update the data.

[2020-06-27 13:08] yannduran commented on #45
@MagicAndre1981 I think I may have found somewhere that the dates aren't being processed properly. I'll have a look at it tomorrow.

[2020-06-28 13:55] MagicAndre1981 commented on #45
ok, can it be a locale issue? I use de-DE for Windows 10 and an en-US Visual Studio 2019

[2020-06-29 13:21] yannduran commented on #45
I think it's something along those lines, but it won't be the locale that you're using for Windows.

[2020-07-07 06:24] MagicAndre1981 commented on #45
it worked a few days, today my pinned items from last week are gone. but some old item from some time ago (which I likely pinned with Start Window before your extension was able to do it) are always pinned.

[2020-07-08 00:43] yannduran commented on #45
Pinned items disappearing/reappearing is not the same problem as the last accessed date not displaying correctly. Anybody looking to see if anyone else has this problem will not find it buried in here.

Please open a new issue for it. Unrelated problems need their own issue. I've mentioned this before.

[2020-09-10 04:11] MagicAndre1981 commented on #40
are you still working on this extension @yannduran ?

[2020-09-10 05:06] yannduran commented on #40
I haven't given up on it, I especially want to get Favorites done. But due to back problems I haven't been able to do much sitting down to work on it lately.

[2020-09-10 06:39] MagicAndre1981 commented on #40
ok, get well soon 🍀🤞

[2020-10-09 06:22] MagicAndre1981 commented on #45
I think this was a Visual Studio 2019 bug. I haven't see the unpin and wrong date issue for a longer time.

[2020-10-09 07:45] yannduran commented on #45
That's great to hear André! Thanks for coming back to let me know.

I'll close this issue, but feel free to open re-open it if you encounter the problem again.

[2020-10-09 07:45] #45 closed

[2020-12-08 09:14] MagicAndre1981 opened #46 "Add an option to exclude csproj files from showing under "Open a recent item""
### Installed product versions
- Visual Studio: 2019 16.8.2
- This extension: 1.0.1

### Description

add an option to exclude csproj files from showing under recent items

### Steps to recreate / Current behavior
1. open sln
2. add an existing csproj to the sln
3. close sln
4. the csproj now show up on recent

### Expected behavior

recent items should not show csproj because I always open the sl

[2020-12-08 12:41] yannduran commented on #46
Hmm, I haven't actually noticed that happening. It's certainly not behavior that I've introduced, and I certainly wouldn't do that without a setting to revert to the previous behavior. I **hate** when Microsoft does that, so I wouldn't do that to my users!

In _v1.0_, I introduced a setting called _Show Extensions_ to show or hide project/solution extensions, but I haven't even released any change

[2020-12-08 13:53] MagicAndre1981 commented on #46
I see the green csproj icons and I only want to have sln shown. I noticed that Start Window also shows csprojs, but this only happens if I add csprojs to a sln.

I think this is the default behavior of Visual Studio, it adds added csproj to the recent items list (check it with oldest VS I have (VS2012)).

[2020-12-09 06:58] yannduran commented on #46
Yes, I agree. It's not something that _Start Page+_ controls, it just uses Visual Studio's recent items list.

My advice would be to just delete the csproj entries that you don't want to see. If you see them pop up again after deleting them, it'd be interesting to know what **exact** actions makes them appear again.

But I doubt that I'll be able to do much about them reappearing, unless I added a

[2020-12-09 07:42] MagicAndre1981 commented on #46
this is my feature request, try to filter them and only show sln files, no csproj.

[2021-02-24 09:18] boris-df opened #48 "(Question) How to edit Recent Paths / where are the items stored?"
### Installed product versions
- Visual Studio 2019

### Description
I've had to change the local mapping path of my TFS repository - so everything that was on c:/here/project/p1.sln is now located on c:/here/new-sub/project/p1.sln

That means, that all my (pinned) projects in the recents list are invalid (cannot open them because the files are not there anymore)

**Now i like to manually fix that

[2021-02-27 11:19] yannduran commented on #48
I've been in **exactly** the same situation as you describe, so I know where you're coming from.

The `Offline` object found in the `CodeContainers` node is a mysterious thing indeed. I'm guessing there's two reasons for this.

1. It's probably been around since the early days of VS, and still exists for backwards compatibility.
2. It's not actually the _**official**_ supported way of doing what I

[2021-03-15 07:35] boris-df commented on #48
Hi, yes such a feature would have helped me ;)
I gave up on it because i didn't found a way to find the paths on my hard drive - so i simply opened the projects from the new paths

Since then i have a new problem with that:
- i've tried to remove my favorites (with the X button) -> but then with the next start of VS they were back!
- i've tried to unpin my favorites (with the pin needle) -> only t

[2021-04-24 00:41] yannduran commented on #4
Hey guys, is this still a problem for you?

[2021-04-24 00:46] yannduran opened #51 "Update Start Page+ to use the new Visual Studio Community Toolkit"
[Visual Studio Community Toolkit](https://github.com/VsixCommunity/Community.VisualStudio.Toolkit)

[2021-04-24 00:48] yannduran opened #52 "Hide tabs that do not yet have functionality"
I thought having explanation text of what was to come would be a good idea, but's been pointed out that having tabs that do nothing is confusing to some users.

I'll hide them until such time as the functionality has started to be added.

[2021-04-24 00:58] yannduran commented on #14
@Dean-NC Did you ever try _Start Page+_ after **v1.0** was released?

[2021-04-24 01:04] yannduran commented on #39
@Kuffs2205 I've just recently noticed this happening myself. I don't know if something changed in a VS release.

But the method that I was using to manage the recent items was not supported. So my intention is to use a different way now.

[2021-04-24 12:04] MagicAndre1981 commented on #4
If it doesn't show I need to click once in Menu to open it. Next time StartPage++ starts fine

[2021-04-24 12:04] #4 closed

[2021-04-27 19:14] MagicAndre1981 commented on #51
don't do this, as it currently causes issues, [when different extensions use different versions of the toolkit ](https://github.com/madskristensen/Tweakster/issues/76)

[2021-04-29 12:10] yannduran commented on #51
I'm following the discussion about this in the Community Toolkit repo.

A Start Page+ update won't be issued until the issue is resolved.

[2021-05-07 20:50] yannduran opened #53 "Replace MVVM Light with Microsoft.Toolkit.Mvvm"
https://docs.microsoft.com/en-us/windows/communitytoolkit/mvvm/introduction

[2021-05-23 01:32] #51 closed

[2021-05-23 01:33] #39 closed

[2021-05-23 01:33] #48 closed

[2021-05-23 01:33] #52 closed

[2021-06-18 06:11] MagicAndre1981 opened #55 "VS2022 support"
### Installed product versions
- Visual Studio: 2022 Enterprise Preview 1

### Description

The extension should work with VS2022 preview 1

### Steps to recreate
1. install VS2022 preview
2. search in VS for Extension

### Current behavior
StartPage+ is missing

### Expected behavior
StartPage+ shows up and can be installed

[2021-06-18 13:35] yannduran commented on #55
I just got the preview today. I'm right in the middle of a lot of internal reworking of the code (nothing to do with 2022). I'll have it up as soon as I can. I miss it too.

[2021-08-10 21:58] TBOpen opened #56 "The solution date"
### Installed product versions
- Visual Studio: 2019
- This extension: 1.0.1

### Description
Sometimes I startup VS2019 and my project/solution I'm working on isn't at the top anymore, I scroll down and it's way down with some date back in the future, like today says 4/12/21 but I worked on it a few days ago as was up at the top.

### Steps to recreate
It does it randomly

[2021-11-04 06:48] MagicAndre1981 commented on #56
I also have this from time to time. It [was gone](https://github.com/luminous-software/start-page-plus/issues/45), but now it is back, because the extension gets no update, this is from VS2019 itself.

[2021-11-04 06:49] MagicAndre1981 commented on #55
can you please push your local changes so that we can try it on our own if you don't have any time? @yannduran

[2021-11-10 11:52] zippy72 commented on #46
I'd love this, personally. I've actually posted a similar issue before on the Visual Studio issue tracker to ask for the recent items menu to allow this.

[2021-12-14 11:53] LeadMagnet commented on #55
Any chance on an update or that progress branch?

Company migrating to Windows 11 and VS2022 over the holiday break. This extension is on the list of "required" :P

[2021-12-21 09:28] MagicAndre1981 commented on #55
I doubt that we ever get a working version. @yannduran is gone  for months. Current code depends on his own package that provides an AsyncPackage implementation that depends on removed code in VS2022, so current codebase doesn't work,

[2022-01-03 08:10] MagicAndre1981 commented on #55
Happy new year @yannduran . I hoe you're fine and please provide VS2022 support. It is unusable at all without your extension.

[2022-02-03 12:06] yannduran commented on #55
Thanks André! I'm sorry I've been MIA for a while. I haven't been very well.

I'm able to do a little work at my desk recently, and I've started on porting Start Page+ to VS 2022. It's been a bit complicated, but it's going well. I have more to do though before it's ready to be tested.

I agree with you. VS 2022 is pretty unusable with SPP. I miss it so much as I'm trying to port the code.

[2022-02-07 09:02] MagicAndre1981 commented on #55
yeah,  @yannduran is back 🥳

can you push your changes in an extra brach so that we can see progress and get early previews?

[2022-02-24 16:06] MagicAndre1981 commented on #55
I can't download the[VS2022 64 bit version](https://www.vsixgallery.com/extension/96b389fd-48b6-48d9-bbf2-ec6ebd026b14):

[2022-02-24 17:06] MagicAndre1981 commented on #55
ok, [this link](https://www.vsixgallery.com/extensions/96b389fd-48b6-48d9-bbf2-ec6ebd026b14/extension.vsix) works, but StartPage+ doesn't work in VS2022 17.2 Preview 1:

`Construction of frame content failed. Frame identifier: ST:0:0:{e3be6dd3-f017-4d6e-ae88-2b29319a77a2} Frame caption: Start Page+ Exception details: System.Windows.Markup.XamlParseException: Set property 'System.Windows.ResourceDi

[2022-02-25 10:02] yannduran commented on #55
Thanks @MagicAndre1981 - I'll have a look at that. I've only been running it in VS 2022 17.1 experimental instance so far and hadn't seen that issue.

"_Cannot locate resource 'resources/brushes.xaml'_" is the problem, so at least I know what to look for.

The link I gave you for the preview was before I started using version numbers in the vsix name, so that may be why the link didn't work. If yo

[2022-02-26 20:07] MagicAndre1981 commented on #55
I just installed a fresh 17.1 copy and it also doesn't work:

![image](https://user-images.githubusercontent.com/8274816/155857560-2dad386a-9c38-4c4a-b0dd-c259d49444c7.png)

I use German x64 Windows 11 22000.493 and VS2022 Enterprise with EN-US language pack.

[2022-04-11 19:33] MagicAndre1981 commented on #55
any update on my issue with the test version?

[2022-05-10 06:38] MagicAndre1981 commented on #55
any update on my issue or are you again ill to be not able to work on it?

[2022-05-22 20:55] MagicAndre1981 commented on #55
looks like @yannduran is gone again. Now that .net5 is EOL and 3.1 will be EOL later this year, VS2019 is dead and we need a VS2022 solution. Can you please push your VS2022 changes so that I can debug it on my own?

[2022-06-22 10:13] MagicAndre1981 commented on #55
@yannduran Please push your VS2022 changes so that I can debug the issue on my own and have at least a somehow working StartPage. VS2022 is currently unusable without your extension 🙏 🙏 😇

[2022-08-06 13:56] MagicAndre1981 commented on #55
I saw that you made a fork @yannduran  Please push your VS2022 changes so that I can debug the issue on my own